{
  "extends": [
    "metarhia",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  }
}
